body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f8; /* Light purple background */
    line-height: 1.6;
}

header {
    background-color: #9b59b6; /* Dark purple header */
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #8e44ad; /* Darker purple navigation */
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #663399; /* A shade of purple for hover effect */
}

section {
    padding: 50px 20px;
    margin-top: 60px; /* Adjusted for the fixed header */
    background-color: #fff; /* White content background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

h2 {
    color: #663399; /* Purple heading */
}

p {
    color: #333;
}

footer {
    background-color: #8e44ad; /* Darker purple footer */
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
}

